@model CreativaSL.Web.Ganado.Models.CompraModels
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets2/plugins/cropper/cropper.min.css")" />

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Grupo Ocampo<small> Administración</small></h3>
                </div>
            </div>
            <div class="tab-pane">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Nueva compra</div>
                    </div>
                    @using (Html.BeginForm("Create", "Compra", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.IDCompra)

                        <div class="portlet-body form">
                            <h3 class="form-section">Información de la nueva compra</h3>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Proveedor<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.TablaProveedoresCmb, ViewData["cmbProveedores"] as SelectList, new { id = "ListTipo", @class = "span12 m-wrap chosen" })
                                            @Html.ValidationMessageFor(model => model.TablaProveedoresCmb)
                                            <span class="help-block">Ingrese el nombre del proveedor</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Cantidad pactada<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.apPat, new { id = "apPaterno", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.apPat)
                                            <span class="help-block">Ingrese el Apellido Paterno</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Apellido Materno<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.apMat, new { id = "apMaterno", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.apMat)
                                            <span class="help-block">Ingrese el Apellido Materno</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Correo</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.email, new { id = "correo", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.email)
                                            <span class="help-block">Ingrese el Correo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Teléfono</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.telefono, new { id = "telefono", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.telefono)
                                            <span class="help-block">Ingrese el número telefónico</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Dirección</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.direccion, new { id = "direccion", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.direccion)
                                            <span class="help-block">Ingrese la Dirección</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Tipo de Usuario<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.tablaTipoUsuariosCmb, ViewData["cmbUsuarios"] as SelectList, new { id = "ListTipo", @class = "span12 m-wrap chosen" })
                                            @Html.ValidationMessageFor(model => model.tablaTipoUsuariosCmb)
                                        </div>
                                    </div>
                                    <span class="help-block">Ingrese observaciones</span>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Usuario</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.cuenta, new { id = "clvUser", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.cuenta)
                                            <span class="help-block">Ingrese la cuenta de usuario</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <label class="control-label">Contraseña</label>
                                        <div class="controls">
                                            @Html.PasswordFor(model => model.password, new { id = "passUser", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.password)
                                            <span class="help-block">Ingrese la contraseña del usuario</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">

                            </div>
                            <div class="form-actions">
                                <input type="submit" value="Guardar" class="btn green">
                                <a href="@Url.Action("Index","CatUsuarios")" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#clvUser').val('');

        $('#passUser').val('');
        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>

}

