@model CreativaSL.Web.Ganado.Models.CatTipoVehiculoModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Grupo Ocampo<small>   Administración</small></h3>
                </div>
            </div>
            <div class="tab-pane">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Nueva Marca Vehículo</div>
                    </div>
                    @using (Html.BeginForm("Create", "CatTipoVehiculo", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.IDTipoVehiculo)

                        <div class="portlet-body form">
                            <h3 class="form-section">Información del tipo de vehículo</h3>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label">Nombre Tipo de Vehículo<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.TextBoxFor(model => model.Descripcion, new { id = "Descripcion", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.Descripcion)
                                            <span class="help-bolck">Ingrese la marca del vehículo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <input type="submit" value="Guardar" class="btn green">
                                <a href="@Url.Action("Index","CatTipoVehiculo")" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            try
            {
                $("input[type='text']").each(function ()
                {
                    $(this).attr("autocomplete", "off");
                    $(this).val = "";
                });
            }
            catch (e)
            {
            }
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>

}








